*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.section{
	background-image:url("images/malte-wingen-381988-1920x1280.jpg");
	background-size: cover;
	background-position: center right;
	background-attachment: scroll;
	width:100%;
	height:100vh;
}

/*.same{
	position: relative;
	top:50%;
	left:16%;
	transform: translate(250px,250px);
}*/


.heading{
  position: relative;
  /*top:40%;*/
  padding-top: 16rem;
  padding-left:13rem;

 

}

.para{
	font-weight: bold;
	color: #232323;
	font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-bottom: 18px;
}

.headingg{
	font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    margin-bottom: 10px;
}

.btn{
	border-radius: 60px;
	background-color: white;
	padding: 4px 6px;
	border:none;
	width:10rem;
	height: 2rem;
	cursor: pointer;
}

.btn:hover{
	 background-color: white;
    color:black;
    font-weight: bold;
    transition: all 0.2s linear;
}


.section2{
	width:70%;
	margin:0 auto;
}
.para2a{
	font-size: 2.3rem;
	position: relative;
	margin:3.0rem 0 2rem 0;

}

.para2b{
	font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.section3{
	background: #fac769 !important;
    min-height: 60px;
}

.main{
	text-align: center;
	font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color:#ffffff;
    padding:30px;

}


/*.section4{
	width:75%;
	margin: 0 auto;

}*/


.cards{
    width:70%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.card{
    width:30%;
    background-color:#fac769;
    /*box-shadow: 0px 0px 0px rgba(0,0,0,0.6);*/
}

.card-text-div{
    padding: 1em;
    /*height:100%;*/
}

 .card-img-div1{
    background: url("images/03.jpg") center center/cover;
    height:230px;
    width:100%;
}

 .card-img-div2{
    background: url("images/04.jpg") center center/cover;
    height:230px;
    width:100%;
}
 .card-img-div3{
    background: url("images/05.jpg") center center/cover;
    height:230px;
    width:100%;
}

.h3{
	margin-bottom: 7px;
}


.p3{
	font-size: 16px;
	color: white;
}

.section5 h1{
	width:70%;
	margin: 0 auto;
	padding:86px 0 30px 0;
}

.img-para{
	padding: 10px 8px;
	background-color:#fac769;
	width:40%;
	border-radius:60px;
	/*margin:6px 8px;*/
	position:relative;
	top:9%;
	left:7%;
}


.section6{
	width:70%;
	margin: 0 auto;

}


.section6 h1{
	padding:80px 0 25px 0;
}


#img1,#img2,#img3,#img4{
	background-image:url("images/gallery00.jpg");
	background-size:cover;
	width:24%;
	height:180px;
	background-position: center;
}

#img2{
	background-image:url("images/malte-wingen-381988-1920x1280-800x533.jpg");
}

#img3{
	background-image:url("images/gallery02.jpg");
}

#img4{
	background-image:url("images/malte-wingen-382148-1920x1280.jpg");
}


.images{
	display: flex;
	justify-content:space-between;
}


#img-da,#img-db,#img-dc,#img-dd{
	background-image:url("images/gallery02.jpg");
	background-size:cover;
	width:24%;
	height:180px;
	background-position: center;
}


#img-db{
	background-image:url("images/gallery00.jpg");
}

#img-dc{
background-image:url("images/malte-wingen-382148-1920x1280.jpg");
}

#img-dd{
background-image:url("images/malte-wingen-381988-1920x1280-800x533.jpg");
}

.images-down{
	display:flex;
	justify-content:space-between;
	padding-top:15px;
}



.section-last{
	margin:70px 0 10px 0;
	background: #fac769 !important;
    min-height: 60px;
}

.main-last{
	text-align: center;
	font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color:#ffffff;
    padding:30px;

}

@media screen and (max-width:1000px){
	html{
		/*display:none;*/
	}
}

@media screen and (max-width:770px){
	.heading{
  position: absolute;
  top:0;
  /*padding-top: 2rem;*/
  /*padding-left:7rem;*/
  z-index:99;
}

.para{
    font-size: 0.7rem;
    margin-bottom: 18px;
}

.headingg{
    font-size: 2.6rem;
    margin-bottom: 10px;
}

.btn{
	width:8rem;
	height: 1.6rem;
}


.cards{
	display:block;

}

.card{
	width:100%;
	margin-bottom:10px;
}


.img-para{
	/*padding: 10px 8px;
	background-color:#fac769;*/
	width:26%;
	/*border-radius:60px;*/
	/*margin:6px 8px;*/
	/*position:relative;
	top:9%;
	left:7%;*/
}

.images{
	display:block;

}

#img1,#img2,#img3,#img4{
	width:100%;
	margin-bottom: 10px;
}


/*.images-down{
	display:block;
	width:100%;
}*/


#img-da,#img-db,#img-dc,#img-dd{
	display:none;
}





















}






